<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Confirmar usuário</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="images\favicon.ico">
  <script src="JS/functions.js" type="text/javascript"></script>
  <script src="https://smtpjs.com/v3/smtp.js"></script>
</head>
<body>
  <div class="logo">
    <h1>Clever</h1>
    <h2>Maintenance Software</h2>
   
  </div>
  <form action="/" method="post">
    <div class="confirmarUsuario" height="100px" style="text-align: center;">
      Email ou nome não está cadastrado no sistema!
    </div class="sub-container-novouser">
   
  </form>

  <p><a href="/">Voltar para a página de login</a></p>
</body>
</html>
