<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Alteração de senha</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="images\favicon.ico">
  <script src="JS/functions.js" type="text/javascript"></script>

</head>
<body>
  <div class="logo">
    <h1>Clever</h1>
    <h2>Maintenance Software</h2>
    <h2><u>Alteração de senha:</u></h2>
  </div>

<form action="/novaSenha" method="POST" onsubmit="return submitNovaSenha()" >
  <div class="alterarSenha" height="100px">
    <table cellspacing="15">
      <tr>
        <td> <label>Login:</label> </td>
        <td><input type="text" name="login" value="" id="login1" size="30" maxlength="100" required></td>
      </tr>
      <tr>
        <td> <label>Senha:</label> </td>
        <td><input type="password" name="password1" value="" id="password1" size="30" maxlength="100" required></td>
      </tr>
      <tr>
        <td> <label>Confirma de senha:</label> </td>
        <td><input type="password" name="password2" value="" id="password2" size="30" maxlength="100" required></td>
      </tr>
    </table>

  </div class="sub-container-novouser">
  <br>
  <br>
  <input class="botoes" type="submit" name="" value="Salvar" id="salvarSenha" >

  <script src="JS/functions.js" type="text/javascript"></script>


  <p><a href="/">Voltar para a página de login</a></p>
</form>
</body>
</html>
