<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Redefinição de senha</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="images\favicon.ico">
  <script src="JS/functions.js" type="text/javascript"></script>
  <script src=https://smtpjs.com/v3/smtp.js></script>

</head>

<body>
  <div class="logo">
    <h1>Clever</h1>
    <h2>Maintenance Software</h2>
    <h2><u>Redefinir senha:</u></h2>

  </div>
  <div class="redefinirSenha" height="100px">
    <table cellspacing="15">
      <tr>
        <td> <label>Digite o e-mail:</label> </td>
        <td><input type="email" name="" value="" id="email" size="30" maxlength="100"></td>
        <td>  <input class="botoes" type="submit" name="" value="Enviar código" id="enviarCodigo" onclick="validacaoEmail()"></td>
      </tr>
      <tr>
        <td> <label>Insira o código recebido:</label> </td>
        <td><input type="text" name="" value="" id="codigoConfirmacao" size="30" maxlength="100"></td>
        <td><input class="botoes" type="submit" name="" value="OK" id="confirmar" onclick="validarCodigo()"></td>
        <td><input class="botoes" type="submit" name="" value="Cancelar" id="cancelar" onclick="limparCampos()"></td>
      </tr>
    </table>

  </div class="sub-container-novouser">

  <p><a href="/">Voltar para a página de login</a></p>
</body>

</html>
